:host {
	.timeline {
		position: relative;
		height: 100vh;
		overflow: auto;

		// Line
		hr {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 2px;
			height: 100vh;
			margin: auto;
			background: black;
			border: none;
			z-index: -1;
		}

		// Box
		.box {
			position: relative;
			width: 300px;
			margin: 30px auto;
			padding: 10px 15px;
			color: white;
			background: #333;
			border-radius: 4px;
			transition: all 0.3s;
			&:after {
				content: '';
				display: inline-block;
				position: absolute;
				top: 0;
				bottom: 0;
				width: 50px;
				height: 2px;
				margin: auto;
			}
			&:nth-child(even) {
				transform: translateX(-200px);
				&:after {
					background: #333;
					right: -50px;
				}
			}
			&:nth-child(odd) {
				transform: translateX(200px);
				&:after {
					background: #333;
					left: -50px;
				}
			}
		}
	}
}