<div class="container">
	<h1>Cards</h1>

	<div class="mCard">
		<header>
			<small class="ribbon" [ngClass]="{ 'saved': !saved }">Saved</small>
			<small class="tag">Featured</small>
			<img src="https://images.unsplash.com/photo-1495105787522-5334e3ffa0ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" alt="Image">
		</header>
		<main [ngClass]="{ 'collapsed': hideDetails }">
			<small>Unisex / Jackets</small>
			<h1>Header</h1>
			<hr>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
		</main>
		<footer>
			<button (click)="saved = !saved">Save</button>
			<a (click)="hideDetails = !hideDetails">
				{{ hideDetails ? 'View' : 'Hide'}} details
			</a>
		</footer>
	</div>
</div>